
.nav-btn {
  background-color: #000873;
  margin-top: 5px;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  display:inline-block;
  font-size: 1em;
}

.nav-btn::hover {
  color:black;
}